{% include 'head.html.twig' %}


<nav class="navbar navbar-default bootsnav navbar-fixed no-background white">

    <div class="container">
        <div class="attr-nav">
            <ul class="list-inline m-top-20">
                <li><a href="">Se déconnecter</a></li>
            </ul>
        </div>

        <!-- Start Header Navigation -->
        <div class="navbar-header">

            <a class="navbar-brand" href="{{ path('accueil') }}">
                <img src="/images/logo.png" class="logoDT" alt="">
                <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
            </a>
        </div>
        <!-- End Header Navigation -->

        <!-- navbar menu -->

    </div>

</nav>

<body>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

<div class="container">
    <div class="row" style="padding-top: 170px;">
        <nav class="col-sm-3" id="myScrollspy">
            <ul class="nav nav-pills nav-stacked" style="padding-top: 150px;">
                <li class="active"><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Section 4 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#section41">Section 4-1</a></li>
                        <li><a href="#section42">Section 4-2</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="col-sm-9">
            <div id="section1">
                <h1>Section 1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section2">
                <h1>Section 2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section3">
                <h1>Section 3</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section41">
                <h1>Section 4-1</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
            <div id="section42">
                <h1>Section 4-2</h1>
                <p>Try to scroll this section and look at the navigation list while scrolling!</p>
            </div>
        </div>
    </div>
</div>

</body>

</body>


{% include 'footer.html.twig' %}

{% block javascripts %}

{% endblock %}